[Unit]
Description=I2P for TorBOX
[Service]
ExecStart=I2PLOCATION/runplain.sh
User=I2PUSER
Group=I2PUSER
Type=forking

[Install]
WantedBy=multi-user.target
