[Service]
Type=oneshot
ExecStart=/usr/local/bin/starti2p.sh
ExecStop=/usr/local/bin/stopi2p.sh
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=i2p-torbox
User=I2PUSER
Group=I2PUSER

[Install]
WantedBy=multi-user.target
